<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="../assets/js/burgers.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content">
            <a class="navbar-brand">Eat-Da-Burger</a>
        </nav>

        <div class="container">
            <div class="row">
                <div class="col-sm-5">
                    <div class="card align-item-md-center">
                        {{{ body }}}
                    </div>
                </div>
            </div>
        </div>

	</body>
</html>
